.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 4px;
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        font-size: 16px;
        color: #FFFFFF;
        height: 55px;
    }
}
